/* digital archive */

.invalid-link {
    color: #444444;
    cursor: help;
    background: #fafafa;
    padding: 0 0.1em;
    cursor: help;
}

.backlink {
    font-size: 0.9em;
}

.backlink-boxes {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 700px) {
    .backlink-boxes {
        grid-template-columns: 1fr;
    }
}

.backlink-box {
    background: #f6f6f6;
    padding: 1em;
    border-radius: 4px;
}